html, body {
  height: 100%;
  width: 100%;
  margin-left: 15px;
  text-align: center;
}

.container { 
  display:flex;
  align-items: center;
  width: 100%;
  height: 128px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap:wrap;
  height:128px;
  width:128px;
}

/*button for popping popup*/
.popUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/*popup information*/
.popUp .popUpText {
  visibility: hidden;
  width: 160px;
  background-color: #111;
  color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/*shows the popup information*/
.popUp .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}
